:root {
    --oser-turq-naked: 0, 180, 183;
    --oser-turq: rgb(var(--oser-turq-naked));
    --oser-blue-naked: 52, 41, 126;
    --oser-blue: rgb(var(--oser-blue-naked));
}

#content {
    padding-top: 1em;
}


html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  text-align: center;
  background-color: #f5f5f5;
}

.header-breadcrumb {
    background-color: rgba(var(--oser-turq), .5);
}


/* Mobile layout (mobile-first) */
.center-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

/* Larger screens layout */
@media only screen and (min-width: 600px) {
    .center-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr minmax(300px, 30%) 1fr;
    }
    .form-center {
        grid-column: 2;
    }
}
