/*
LAYOUT
*/

/* Mobile layout (mobile-first) */
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "tutor-list"
        "student-list";
}

.tutor-list {
    grid-area: tutor-list;
    margin-bottom: auto;
}
.student-list {
    grid-area: student-list;
    margin-bottom: auto;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". tutor-list student-list";
    }
}
