/*
LAYOUT
*/

/* Mobile layout (mobile-first) */
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "main"
        "requirements"
        "dashboard";
}
.main {
    grid-area: main;
}
.requirements {
    grid-area: requirements;
}
.dashboard {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "meetings"
        "visits"
        "tweets";
    grid-area: dashboard;
}
.dashboard-meetings {
    grid-area: meetings;
}
.dashboard-visits {
    grid-area: visits;
}
.dashboard-tweets {
    grid-area: tweets;
}

/* Larger screens layout */
@media only screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            ". main"
            ". requirements"
            ". dashboard"
    }
    .dashboard {
        display:grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1fr, 3);
        grid-template-areas:
            "meetings visits tweets";
    }
}


/*
STYLING
*/

#logo {
    margin: 1em;
}


#welcome {
    color: var(--oser-blue);
    font-weight: bold;
}
