<!-- Navigation when logged in as user -->

{% extends "internal/nav/base.html" %}
{% load static %}
{% load misc_tags %}

{% block nav_left %}

  <!-- Dashboard -->
  <li class="nav-item active">
    <a href="{% url 'index' %}" class="nav-link">Tableau de bord</a>
  </li>

  <!-- Tutoring -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Mon tutorat
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ profile.high_school.get_absolute_url }}">Mon lycée</a>
      <a class="dropdown-item" href="{{ profile.tutoring_group.get_absolute_url }}">Mon groupe de tutorat</a>
    </div>
  </li>

  <!-- Database -->

  <li class="nav-item"><a href="{% url 'database' %}" class="nav-link">Base de données</a></li>

  <!-- Q&A -->
  <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link">FAQ</a></li>

{% endblock %}

{% block nav_right %}

  <!-- splitted dropdown for Profile -->
  <li class="nav-item dropdown">
    <a id="profile" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profil
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a id="profile-see" class="dropdown-item" href="{{ profile.get_absolute_url }}">
        {% icon "user" "fw" %}Voir mon profil</a>
      <a id="profile-modify" class="dropdown-item" href="#">
        {% icon "edit" "fw" %}Modifier mon profil</a>
      <div role="separator" class="dropdown-divider"></div>
      <a id="logout" class="dropdown-item" href="{% url 'logout' %}">
        {% icon "power-off" "fw" %}Se déconnecter</a>
    </div>
  </li>
{% endblock %}
