<!-- Base template -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSER | Site interne</title>

    <!-- STYLES -->
    {% block styles %}
      <!-- Bootstrap -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- FontAwesome -->
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <!-- Custom style sheets -->
      <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% endblock %}
  </head>

  <body>

    <!-- NAVIGATION -->
    {% block nav %}
      <!-- Decide which navigation to show based on user login status -->
      {% if user.is_authenticated %}
        {% include "internal/nav.html" %}
      {% else %}
        {% include "internal/nav_visitor.html" %}
      {% endif %}
    {% endblock %}

    <!-- HEADER -->
    <header>
      {% block header %}{% endblock %}
      <ol class="breadcrumb" id="breadcrumb">
        {% block breadcrumbs %}{% endblock %}
      </ol>
    </header>

    <!-- CONTENT -->
    <div class="container-fluid" id="content">
      {% block content %}{% endblock %}
    </div>

    <!-- JS SCRIPTS -->
    {% block scripts %}
      <!-- jQuery -->
      <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <!-- Popper.js (Bootstrap v4.0.0 dependency) -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <!-- Bootstrap v4.0.0 -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>

      <script type="text/javascript">
        // remove breadcrumb if it has no nodes
        if ($('#breadcrumb li').length < 1) {
          $('#breadcrumb').remove();
        }
      </script>
    {% endblock %}

    <!-- FOOTER -->
    <footer class="sticky-footer">
      <div class="container">
        <span class="text-muted small">© Copyright 2017, Florimond Manca.</span>
      </div>
    </footer>

  </body>
</html>
