{% extends "internal/base.html" %}
{% load breadcrumb_tags %}
{% load card_tags %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_url "Données" name="database" %}
  {% breadcrumb_url "Lycées" name="highschool_list" %}
  {% breadcrumb_active high_school %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col text-center">
    <div class="jumbotron bg-light">
      <h1 class="display-4">{{ high_school }}</h1>
      <p>
        Lycée ??? au sein de la cordée ??? — Niveaux ??? — {{ high_school.student_set.count }} lycéens, {{ high_school.tutor_set.count }} tuteurs (encadrement ???)
      </p>
    </div>
  </div>
  <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4>Adresse</h4>
          <p>{{ high_school.address }}</p>
          <h4>Contact</h4>
          <p>01 31 44 65 34 (Secrétariat)</p>
        </div>
      </div>
  </div>
</div>

<div class="card-columns">
  {% cardlist high_school.tutoringgroup_set title="Groupes de tutorat" count=True item_template="internal/cards/highschool_tutoringgroup_item.html" %}

  {% cardlist high_school.student_set title="Lycéens" count=True %}

  {% cardlist high_school.tutor_set title="Tuteurs" count=True %}
</div>

{% endblock %}
