{% extends "internal/base.html" %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_url "Données" "database" %}
  {% breadcrumb_url "Lycées" "highschools" %}
  {% breadcrumb_active high_school %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col text-center">
    <div class="jumbotron bg-light">
      <h1 class="display-4">{{ high_school }}</h1>
      <p>
        Lycée ??? au sein de la cordée ??? — Niveaux ??? — {{ high_school.student_set.count }} lycéens, {{ high_school.tutor_set.count }} tuteurs (encadrement ???)
      </p>
    </div>
  </div>
  <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4>Adresse</h4>
          <p>{{ high_school.address }}</p>
          <h4>Contact</h4>
          <p>01 31 44 65 34 (Secrétariat)</p>
        </div>
      </div>
  </div>
</div>

<div class="card-columns">
  <div class="card">
    <h4 class="card-header">
        Groupes de tutorat <span class="badge badge-secondary">{{ high_school.tutoringgroup_set.count }}</span>
    </h4>
    <ul class="list-group list-group-flush">
      {% for tutoring_group in high_school.tutoringgroup_set.all %}
        <a class="list-group-item list-group-item-action" href="{{ tutoring_group.get_absolute_url }}">{{ tutoring_group }}</a>
      {% empty %}
        <li class="list-group-item">Pas de groupes de tutorat pour ce lycée.</li>
      {% endfor %}
    </ul>
  </div>

  <div class="card">
    <h4 class="card-header">Lycéens <span class="badge badge-secondary">{{ high_school.student_set.count }}</span></h4>
    <ul class="list-group list-group-flush">
      {% for student in high_school.student_set.all %}
        <a class="list-group-item list-group-item-action" href="{{ student.get_absolute_url }}">{{ student }}</a>
      {% empty %}
        <li ckass="list-group-item">Pas de lycéens pour ce lycée.</li>
      {% endfor %}
    </ul>
  </div>

  <div class="card">
    <h4 class="card-header">Tuteurs <span class="badge badge-secondary">{{ high_school.tutor_set.count }}</span></h4>
    <ul class="list-group list-group-flush">
      {% for tutor in high_school.tutor_set.all %}
        <a class="list-group-item list-group-item-action" href="{{ tutor.get_absolute_url }}">{{ tutor }}</a>
      {% empty %}
        <li class="list-group-item">Pas de tuteurs pour ce lycée.</li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
