{% extends "internal/base.html" %}
{% load breadcrumb_tags %}
{% load card_tags %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_url "Données" name="database" %}
  {% breadcrumb_active "Tuteurs" %}
{% endblock %}

{% block content %}
<div class="jumbotron text-center bg-light">
  <h1 class="display-4">Tuteurs</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Groupe de tutorat</th>
    </tr>
  </thead>
  <tbody>
    {% for tutor in tutor_list %}
      <tr>
        <td>{{ tutor.last_name }}</td>
        <td>{{ tutor.first_name }}</td>
        <td>{{ tutor.email }}</td>
        <td><a href="{{ tutor.tutoring_group.get_absolute_url }}">{{ tutor.tutoring_group }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
