{% extends "internal/base.html" %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_url "Données" "database" %}
  {% breadcrumb_active "Groupes de tutorat" %}
{% endblock %}

{% block content %}
<div class="jumbotron text-center bg-light">
  <h1 class="display-4">Groupes de tutorat</h1>
</div>

<ul class="list-group">
  {% for tutoring_group in tutoring_group_list %}
  <a class="list-group-item list-group-item-action" href="{{ tutoring_group.get_absolute_url }}">
    {{ tutoring_group }}
  </a>
  {% endfor %}
</ul>
{% endblock %}
