{% extends "internal/base.html" %}

{% block content %}
<h1>{{ tutoring_group }}</h1>
<ul>
  <li>Lycée : {{ tutoring_group.high_school }}</li>
  <li>Nombre de tutorés : {{ tutoring_group.number_tutorees }}</li>
  <li>Nombre de tuteurs : {{ tutoring_group.number_tutors }}</li>
  <li>Nombre de séances cette année : {{ tutoring_group.number_meetings }}</li>
  <li>Séances à venir : {{ tutoring_group.upcoming_meetings.count }}
    <ul>
      {% for meeting in tutoring_group.upcoming_meetings %}
        <li>{{ meeting }}</li>
      {% endfor %}
    </ul>
  </li>
  <li>Séances passées : {{ tutoring_group.past_meetings.count }}
    <ul>
      {% for meeting in tutoring_group.past_meetings %}
        <li>{{ meeting }}</li>
      {% endfor %}
    </ul>
  </li>
</ul>
{% endblock %}
