{% extends "internal/base.html" %}
{% load breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_url "Données" name="database" %}
  {% breadcrumb_url "Tuteurs" name="tutors" %}
  {% breadcrumb_active tutor %}
{% endblock %}

{% block content %}
<h1>{{ tutor }}</h1>
<ul>
  <li>Groupe de tutorat : <a href="{{ tutor.tutoring_group.get_absolute_url }}">{{ tutor.tutoring_group }}</a></li>
  <li>Lycée de rattachement : <a href="{{ tutor.high_school.get_absolute_url}}">{{ tutor.high_school }}</a></li>
</ul>
{% endblock %}
