{% extends "internal/base.html" %}
{% load breadcrumbs %}
{% load cards %}
{% load utils %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_url "Données" name="database" %}
  {% breadcrumb_url "Groupes de tutorat" name="tutoringgroups" %}
  {% breadcrumb_active tutoring_group %}
{% endblock %}

{% block content %}
<div class="text-center">
  <div class="jumbotron bg-light">
    <h4 class="text-muted">Groupe de tutorat</h4>
    <h1 class="display-4">{{ tutoring_group }}</h1>
  <h2><a href="{{ tutoring_group.high_school.get_absolute_url }}">{{ tutoring_group.high_school }}</a></h2>
    <p>
      Année ??? — {{ tutoring_group.student_set.count }} lycéens, {{ tutoring_group.tutor_set.count }} tuteurs (encadrement ???) —
      Les séances se déroulent ??? le ??? de ???h à ???h —
      Tuteurs : rendez-vous ???
    </p>
  </div>
</div>

<div class="card-columns">
  {% cardlist tutoring_group.upcoming_meetings title="Séances de tutorat" count=True %}
  {% cardlist tutoring_group.student_set title="Lycéens" count=True %}
  {% cardlist tutoring_group.tutor_set title="Tuteurs" count=True %}
</div>
{% endblock %}
