{% extends "internal/base.html" %}
{% load static %}
{% load form_tags %}

{% block nav %}
  {% include "internal/nav/visitor.html" %}
{% endblock %}

{% block content %}
<div class="center-wrapper">
  <!-- LOGIN FORM -->
  <div class="form-center card bg-light" id="login-form">
    <div class="card-body">
      <h4 class="card-title">Connexion</h4>

      {% include "form_errors.html" with form=form %}

      {% if next %}
      <p class="alert alert-danger">
        Veuillez vous authentifier pour accéder à cette page.
      </p>
      {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% form_field form.username addon="@" %}
        {% form_field form.password icon="lock" %}

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" id="login" value="login">Se connecter</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="text-center">
          <a id="register" href="{% url 'register' %}">Créer un compte</a>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}

  <!-- Script that adds BS classes on login form fields -->
  <script type="text/javascript">
    $("input[id='id_username']").addClass("form-control");
    $("input[id='id_password']").addClass("form-control");
  </script>
{% endblock %}
