{% extends "internal/base.html" %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block nav %}
  {% include "internal/nav/visitor.html" %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- REGISTER FORM -->
  <div class="register-form card bg-light">
    <div class="card-body">
      <h4 class="card-title">Inscription</h4>

      {% include "form_errors.html" with form=form %}

      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% for field in form  %}
          {% include "internal/forms/field.html" with field=field %}
        {% endfor %}

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" id="register" value="register">S'inscrire</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}

  <!-- Script that adds BS classes on login form fields -->
  <script type="text/javascript">
    $("form [id*='id_']").addClass('form-control');
  </script>
{% endblock %}
