<!--

Card list with a title, an optional counter and a list group.
Each item in the list will be rendered without extra formatting, i.e. the template only inputs {{ item }} in a list group.
Rendering of each group item will be :
- "a .list-group-item .list-group-item-action" if item have a get_absolute_url() method
- "li .list-group-item" otherwise.
List group becomes scrollable if more than 300px high.

Parameters:
title : title of the card
count : pass any truthful value to display a counter of the elements in the list next to the card title.
queryset : set of values to display in the card (must be iterable)

Usage:
< include "path/to/cardlist.html" with title="My title" count=True queryset=my_queryset >
-->

<div class="card">
  {% block card_header %}
  {% if title %}
    <h4 class="card-header">
      {{ title }}
      {% if count %}
      <span class="badge badge-secondary pull-right">{{ count }}</span>
      {% endif %}
    </h4>
  {% endif %}
  {% endblock %}
  <ul class="list-group list-group-flush" {% if scroll %}style="max-height:{{ scroll }}; overflow-y: scroll;"{% endif %}>
    {% for item in items %}
        {% include item_template with item=item %}
    {% empty %}
      {% if empty_msg %}
      <li class="list-group-item text-muted">{{ empty_msg }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
