<!--
See: templatetags.cards.cardlist
-->
{% load misc_tags %}

<div class="card">
  {% block card_header %}
  {% if title %}
    <h4 class="card-header">
      {% if icon %}
      {% icon icon "pull-right" %}
      {% endif %}
      {{ title }}
      {% if count %}
      <span class="badge badge-secondary pull-right">{{ count }}</span>
      {% endif %}
    </h4>
  {% endif %}
  {% endblock %}
  <ul class="list-group list-group-flush" {% if scroll %}style="max-height:{{ scroll }}; overflow-y: scroll;"{% endif %}>
    {% for item in items %}
      {% if forloop.counter <= limit %}
        {% include item_template with item=item %}
      {% endif %}
    {% empty %}
      {% if empty_msg %}
      <li class="list-group-item text-muted">{{ empty_msg }}</li>
      {% endif %}
    {% endfor %}
    {% if all_url and items|length > limit %}
      <a class="list-group-item card-link" href="{{ all_url }}">Voir plus...</a>
    {% endif %}
  </ul>
</div>
