{% load misc_tags %}

<div class="form-group">
  {% if not field.is_hidden %}
    {{ field.label_tag }}
  {% endif %}
  {% if addon or icon %}<div class="input-group">{% endif %}
  {% if addon %}
    <div class="input-group-addon">{{ addon }}</div>
  {% endif %}
  {% if icon %}
    <div class="input-group-addon">{% icon icon %}</div>
  {% endif %}
  {{ field }}
  {% if addon or icon %}</div>{% endif %}
  {% if not field.is_hidden and field.help_text %}
  <span class="form-text text-muted helptext">{{ field.help_text }}</span>
  {% endif %}
</div>
